CompileFlags:
  CompilationDatabase: build/
  Add: [-std=c++20, -I/opt/ros/humble/include]

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add: [performance-*, readability-*, modernize-*]
    Remove: [readability-braces-around-statements, readability-magic-numbers, modernize-use-trailing-return-type, modernize-use-nodiscard]
    CheckOptions:
      readability-function-cognitive-complexity.Threshold: 100
  UnusedIncludes: Strict

Completion:
  AllScopes: Yes

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes 