<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jaka_zu12_with_tool">

  <!-- 包含原始机械臂URDF -->
  <xacro:include filename="$(find jaka_description)/urdf/jaka_zu12.urdf"/>
  
  <!-- 包含工具定义 -->
  <xacro:include filename="$(find jaka_description)/urdf/tools/gripper_tool.urdf.xacro"/>
  
  <!-- 添加工具到机械臂末端 -->
  <xacro:gripper_tool parent_link="Link_6"/>
  
</robot> 